/* normal flexbox */
.flexbox .flex-container {
        display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}
.flexbox .flex-container.vertical {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-flow: column wrap;
}

.flexbox .flex-item {
	-webkit-flex:1 auto;
	-moz-flex:1 auto;
	-ms-flex:1 auto;
	flex:1 auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px 15px;
	position:relative;
	margin-right: 20px;
}

/* flexbox fallback for ie 8+ */
.no-flexbox .flex-container{
	display:inline-block;

}
.no-flexbox .flex-container.vertical{

}
.no-flexbox .flex-item{
	display: inline-block;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px 20px;
	position:relative;
}

/* old flexbox */
.no-flexbox.flexboxlegacy .flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: box;
}
.no-flexbox.flexboxlegacy .flex-container.vertical {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

.no-flexbox.flexboxlegacy .flex-item {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px 20px;
	position:relative;
}